<div #main
     class="flex-container column pad-1em">

  <!--Header-->
  <div class="row">

    <div class="heading margin-bottom-1em flex-start">
      Manage Users
    </div>

    <div class="row align-content-centre"
         *ngIf="displayMode === 'VIEW' && fuService.pageState === fuService.pageStateOptions.VIEW">

      <!--Filter-->
      <div class="flex-end align-items-centre margin-right-2em">

        <label class="margin-right-1em">Filter</label>

        <input class="input width-medium"
               type="text"
               placeholder="Filter by User name"
               [(ngModel)]="fuService.filter"
               (ngModelChange)="fuService.updateFilteredList()">

      </div>

      <!--Add User-->
      <div class="flex-end align-items-centre margin-right-2em">

        <button class="button-plain radius-6 margin-left-1em"
                (click)="switchLayoutToAddUser()">
          Add User
        </button>

      </div>

    </div>

  </div>

  <cdk-virtual-scroll-viewport itemSize="50"
                               [style.height.px]="(windowSize$ | async)?.height * 0.6"
                               class="virtual-scroll-viewport panel-container margin-right-2em"
                               *ngIf="displayMode === 'VIEW'">

    <div *cdkVirtualFor="let item of fuService.filteredItems"
         [ngClass]="{'item-header':             fuService.item.FSKey !== item?.FSKey,
                     'item-header-selected':    fuService.item.FSKey === item?.FSKey}"
         (click)="edit(item)">

      <div class="heading2">
        {{item?.name}}
      </div>

      <!--Panel Content-->
      <div class="column"
           *ngIf="fuService.panelOpen && fuService.item.FSKey === item?.FSKey">

        <!--Form fields-->
        <form autocomplete="off"
              novalidate
              [formGroup]="fuService.fg">

          <fu-fg-input
            [fg]="fuService.fg"
            [controlName]="'name'"
            [inputValue]="fuService.item.name"
            [label]="'Name'">
          </fu-fg-input>

          <fu-fg-input
            [fg]="fuService.fg"
            [controlName]="'emailAddress'"
            [inputType]="'email'"
            [inputValue]="fuService.item.emailAddress"
            [label]="'Email Address'">
          </fu-fg-input>

          <fu-fg-checkbox
            [fg]="fuService.fg"
            [label]="'Active'"
            [controlName]="'active'"
            [inputValue]="fuService.item.active">
          </fu-fg-checkbox>

          <fu-fg-checkbox
            [fg]="fuService.fg"
            [label]="'Must Reset Password'"
            [controlName]="'mustResetPassword'"
            [inputValue]="fuService.item.mustResetPassword">
          </fu-fg-checkbox>

        </form>

        <!--Error errorMessages-->
        <sc-error-message
          [errorMessages]="fuService.errorMessages">
        </sc-error-message>

        <!--Buttons-->
        <fu-fg-buttons
          [fuService]="fuService">
        </fu-fg-buttons>

      </div>

    </div>

  </cdk-virtual-scroll-viewport>

  <!--Waiting Spinner-->
  <sc-waiting-spinner
    *ngIf="waiting">
  </sc-waiting-spinner>

  <div class="panel-container column width-wide centre"
       *ngIf="displayAddEmailAndName">

    <cs-send-email
      class="margin-top-1em"
      [includeName]="true"
      [subject]="emailDetails.subject"
      [body]="emailDetails.body"
      [enrolmentPath]="emailDetails.enrolmentPath"
      [enrolmentKey]="emailDetails.enrolmentKey"
      [enrolmentRequest]="enrolmentRequest"
      (emailSent)="emailSent($event)">
    </cs-send-email>

  </div>

  <sc-display-message *ngIf="displayMode === 'ERROR'"
                   [message]="errorMessage"
                   [isErrorMessage]="true"
                   (OK)="removeErrorDisplay()">
  </sc-display-message>

</div>


