<div class="panel-container column width-wide centre">

  <div class="heading margin-bottom-1em">
    Enter Password
  </div>

  <form autocomplete="off"
        novalidate
        [formGroup]="fuService.fg">

    <fu-fg-input
      [fg]="fuService.fg"
      [controlName]="'password1'"
      [inputType]="'password'"
      [label]="'Password'">
    </fu-fg-input>

    <fu-fg-input
      [fg]="fuService.fg"
      [controlName]="'password2'"
      [inputType]="'password'"
      [label]="'Password'">
    </fu-fg-input>

  </form>

  <!--Error errorMessages-->
  <sc-error-message
    [errorMessages]="fuService.errorMessages">
  </sc-error-message>

  <!--Buttons-->
  <div class="row-right">

    <button class="button-plain radius-6 margin-right-1em"
            (click)="save()">
      Save
    </button>

    <button class="button-plain radius-6 margin-right-1em"
            (click)="cancel()">
      Cancel
    </button>

  </div>

</div>
